@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color-scheme: light dark; */

  @apply bg-yellow-400 text-grey-400;
}

input,
select {
  @apply rounded border border-zinc-400/50 bg-yellow-400 p-1 text-grey-400;
}
